---
# roles/{{ role_name }}/defaults/main.yml
# Public variables are added in this file.

# Debugging mode
{{ role_name }}_debug: false

# Application information
# {{ role_name }}_version_major: '0'
# {{ role_name }}_version_minor: '0'

